<ion-nav-bar align-title="center" class="bar-balanced">
  
    </ion-nav-bar>
<ion-tabs class="tabs-icon-top tabs-color-active-balanced">
    <!-- Dashboard Tab -->
    <ion-tab title="Especies" icon-off="ion-ios-paw-outline" icon-on="ion-ios-paw" href="#/main/specie">
        <ion-nav-view name="main-specie"></ion-nav-view>
    </ion-tab>
    <!-- Chats Tab -->
    <ion-tab title="Juega" icon-off="ion-ios-play-outline" icon-on="ion-ios-play" href="#/main/play">
        <ion-nav-view name="main-play"></ion-nav-view>
    </ion-tab>
    <!-- Account Tab -->
    <ion-tab title="Configuraciones" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/main/settings">
        <ion-nav-view name="main-settings"></ion-nav-view>
    </ion-tab>
</ion-tabs>
