<ion-view view-title="Panamazonico">
    <ion-content>
        <img src="img/fondo.png" style="position: fixed; top: 0%; left: 0%; width: 100%; height: 100%; ">
        <ion-list>
            <div class="text-center">
                <img src="img/logo.png" alt="logo" class="width-150-px top-30-pc" /></div>
                <h3 class="color-white text-center cursive">Panamazonico</h3>
            <div class="list">
                <div class="row-bottom">
                   <br><br><br>
                    <div style="margin-left: 31%;">
                        <button ng-click="googleSignIn()" class="button button-assertive">
                            <i class="ion-social-googleplus"></i> Iniciar sesion
                        </button>
                    </div>
                 
              
                </div>
        </ion-list>
    </ion-content>
</ion-view>
